* {margin: 0; padding: 0; outline: 0;}
.Headtitle{
	width:100%;
	height:53;
	border:0;

	}
.Subtitle{
	height:106px;
	border:0;	
	} 

.Main{
	 width:100%;
	 height:54; 
	 border:0;	
}

.Maintitle{
	 width:100%;
	 height:35;
	 border:0;
}
.toolimg{
	width:30px;
}
.titleimg{
	height:106px;
	
}
.Chinese{
	
		font-family:  "微软雅黑";	
		font-size:18px;
		font-weight:900;	
		line-height:0.15;	
		color:#ffffff;
}
.English{
		font-family:  "Arial";	
		font-size:12px;	
		font-weight:500;	
		line-height:0.15;	
		letter-spacing:0.6;		
	color:#ffffff;
}
.mapname{
	height:50px;

	
}
.ToTop{
text-align:right;
}
 .box {
            height: 280px;
            width: 180px;
            border: 2px solid rgba(0,0,0,0.2);
            outline: medium none;
            position: absolute;
            z-index: 1050;
            background: none repeat scroll 0 0 white;
            margin-left: 1170px;
            margin-top: 300px;
            display: none;
        }

        .instruction {
            height: 400px;
            width: 300px;
            border: 2px solid rgba(0,0,0,0.2);
            outline: medium none;
            position: absolute;
            z-index: 1050;
            background: none repeat scroll 0 0 white;
            margin-left: 45%;
            margin-top: 20%;
            display: none;
        }

        .close {
            border-left: 1px solid #bbb;
            opacity: 0.8;
            padding: 7px 10px;
            position: absolute;
            right: 0;
            top: 0;
        }

        .box h1 {
            background: none repeat scroll 0 0 #eee;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            font-size: 16px;
            padding: 5px;
            text-align: left;
        }

        .instruction h1 {
            background: none repeat scroll 0 0 #eee;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            font-size: 16px;
            padding: 5px;
            text-align: left;
        }
		
		
		  
    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-family: "Microsoft JhengHei", "微软雅黑";
            font-size: 14px;
            font-style: normal;
            line-height: 30px;
            color: 6a7170;
        }

        .topnav {
            width: 293px;
            padding: 40px 28px 25px 0;
            font-family: "Microsoft JhengHei", "微软雅黑";
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            color: #ffffff;
        }

        ul.topnav {
            padding: 0;
            margin: 0;
            font-size: 14px;
            line-height: 0.5em;
            list-style: none;
        }

            ul.topnav li {
            }

                ul.topnav li a {
                    line-height: 10px;
                    font-size: 14px;
                    padding: 10px 5px;
                    color: #ffffff;
                    display: block;
                    text-decoration: none;
                    font-weight: bolder;
                }

                    ul.topnav li a:hover {
                        background-color: #4d5565;
                        color: white;
                    }

            ul.topnav ul {
                margin: 0;
                padding: 0;
                display: none;
            }

                ul.topnav ul li {
                    margin: 0;
                    padding: 0;
                    clear: both;
                }

                    ul.topnav ul li a {
                        padding-left: 20px;
                        font-size: 14px;
                        font-weight: normal;
                        outline: 0;
                    }

                        ul.topnav ul li a:hover {
                            background-color: #5d6575;
                            color: #675C7C;
                        }

                ul.topnav ul ul li a {
                    color: silver;
                    padding-left: 40px;
                }

                    ul.topnav ul ul li a:hover {
                        background-color: #D3CEB8;
                        color: #675C7C;
                    }

            ul.topnav span {
                float: right;
            }

        <style type="text/css" > .wrap-menu {
            width: 778px;
            margin: 0 auto;
            overflow: auto;
            width: 300px;
            background: #F6F6F6;
            font: 12px/1.5 Tahoma,Arial,sans-serif;
			 }

        .wrap-menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-family: "微软雅黑";
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            color: #e9eaec;
		  }

            .wrap-menu ul li {
                text-indent: 1.5em;
                white-space: nowrap;
		    }

                .wrap-menu ul li h2 {
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    margin: 0 0 1px 0;
                    color: #fff;
                    background: #505969;
                    font-family: '微软雅黑';
                    font-size: 14px;
                    line-height: 40px;
						text-align:left;
                }

                .wrap-menu ul li a {
                    display: block;
                    outline: none;
                    height: 35px;
                    line-height: 35px;
                    margin: 1px 0;
                    color: #fff;
                    text-decoration: none;
                    font-family: "微软雅黑", "Microsoft YaHei UI";
                    font-size: 12px;
                    font-style: normal;
			
			}

                .wrap-menu ul li img {
                    margin-right: 10px;
                    margin-left: -17px;
                    margin-top: 9px;
                    width: 7px;
                    height: 7px;
                    background: url(images/arrow.gif) no-repeat;
                    border: none;
				   }

                    .wrap-menu ul li img.unfold {
                        background-position: 0 -9px;
				   }

                .wrap-menu ul li a:hover {
                    background-color: #6b7589;
                    background-image: none;
                    font-family: "微软雅黑", "Microsoft YaHei UI";
                    font-size: 12px;
                    font-style: normal;
                    line-height: 35px;
                    color: #fff;
			   }
    </style>
	
	<style type="text/css">
<!--
.unnamed1 {
    background-image:"supplement/12.png";
    background-repeat: no-repeat;
    background-position: left top;
}
-->
</style> 

<style type="text/css">
<!--
.STYLE6 {color: #b1b4bb}
.STYLE7 {color: #FFFFFF; }
.STYLE8 {font-size: 36px}
-->
</style>

.title {
	font-family:宋体;
	color:#376092;
	font-size:31px;
	text-align:center;
	height:70px;
	float:left;
	width:300px;
}
.title p {
	bottom:0px;
}
.col {
	font-family:宋体;
	color:#FFFFFF;
	font-size:31px;
	text-align:center;
	width:600px;
	height:40px;
	float:left;
	
}
.col a{
color:#325E84
}
.anw a{
font-family:宋体;
	font-size:17px;
color:#FFFFFF;
}
.shulibox {
	float:left;
	color:#FFFFFF;
	font-family:黑体;
	font-size:22px;
	text-align:center;
	width:8%;
}
.shuli {
	margin:0 20px;
	width:20px;
	line-height:24px;
}
.mapcontroll {
	background-color:#FFFFFF;
	float:left;
	text-align:center;
	width:178px;
	border:1px solid #000000;
	height:500px;
}

li {
	list-style:none
}
.rolinList {
	float:right;
	height:auto;
	text-align:left
}
.rolinList li {
	margin-bottom:1px;
}
.rolinList li h2 {
	height:40px;
	background:#fff;
	font-size:15px;
	color:#333;
	cursor:pointer
}
.content {
height:100px;
	height:150px;
	width:175px;
	font-size:14px;
	overflow-y:scroll;
	background:#FAFAFA;
	
}
.vline {
	font-size:25px;
}
#nav {
width:1200px;
	background:#FFF;
	float:left;
	position:absolute;
	z-index:2000;
}
#nav ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
#nav li {
	float:left;
	font-weight:bold;
	font-size:28px;
	text-align:center;
}
#nav li a {
	display:block;
	line-height:28px;
	color:#000000;
	text-decoration:none;
}
#nav li a:hover{color:#FFFFFF}
#nav ul li:hover ul li a {
	background:#E1F2F6;
	color:#325E84;
}
#nav ul li:hover ul li a:hover {
	background:#E1F2F6;
	color:#000000;
}
a {
	text-decoration:none;
	color:#FFFFFF;
}
#button {
	cursor:pointer;
}
#overlay {

	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	display:none;
}
#win {
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	height:300px;
	background:#fff;
	border:2px solid #E6E6FA;
	margin:-102px 0 0 -202px;
	display:none;
	text-align:left;
	overflow:scroll
}
h2 {
	font-size:12px;
	height:18px;
	text-align:right;
	background:#E3E3E3;
	padding:5px;
	cursor:move;
}
h2 span {
	color:#E6E6FA;
	cursor:pointer;
	background:#fff;
	border:1px solid #E3E3E3;
	padding:0 2px;
}
/* common styling */
/* set up the overall width of the menu div,the font and the margins */

.color a {
	color:#000000;
}
ul{
list-style:none;
}
.test_ul li{
float:left;
width:125px;
} 
.bn a{color:#000000;}
.tool{
float:left;
width:58px;
height:23px;
background-repeat: no-repeat;
text-align:right;
}
.kx{
float:left;
width:3px;
height:23px;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;

	
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1200px;
	min-width: 600px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	width: 100%;
	max-width: 1200px;
	min-width: 600px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	
}


.inner {
	width: 95%;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size:22px;
	font-family:黑体;
	
	font-weight: 300;
	text-align:left;
color:#000000;	
}
.inner1{
font-size:16px; 
font-family:黑体;
line-height:18px;
} 
.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width:100%;
	background:  #E1F2F6;
	color:#000000;
	position:fixed; 
	top: 0px;
	left: 0px;
	
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 18px;
	padding: 15px 2% 0 2%;
	text-align: center;
	color:#000000;
}
.subMenu a:hover {
	background: #BFE2EB;
}

.active {
	background: #4FBACA;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	min-height: 0px;
	background:#fff;
	color:#3d3d3d;
	padding: 0px 0;
	height: 0px;
	
}

.s1 {
	background: 	#FFFFFF;
	
}


.s2 {
	background: 	#FFFFFF;
}
.s2 a {
	background: 	#FFFFFF;
}

.s3 {
	background: 	#FFFFFF;
}


.s4 {
	background: 	#FFFFFF;
}



.s5 {
	background: 	#FFFFFF;
}

.s6 {
	background: 	#FFFFFF;
}





